.App {
  width: 100vw;
  height: 100vh;
  background-color: #FEFAE0;
}

.main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.first-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.title {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
}

.market-titles {
  width: 60%;
  height: 5%;
  display: flex;
  flex-direction: row;
}

.market-titles>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.logos-section {
  width: 60%;
  height: 10%;
  display: flex;
  flex-direction: row;
}

.logos-section>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.logos-section>div>img {
  max-width: 100%;
  max-height: 100%;
}

.data-section {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}

.data-titles {
  width: 15%;
}

.data {
  width: 20%;
  display: flex;
  flex-direction: column;
}

.data>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.data {
  width: 20%;
}

.data {
  width: 20%;
}

.bottom-section {
  margin-top: 1rem;
  width: 90%;
  height: 25%;
  display: flex;
  flex-direction: row;
}

.bottom-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.bottom-area>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.settings-area {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.coins {
  width: 50%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.coins>img {
  max-width: 100%;
  max-height: 100%;
}

.coins>img:hover {
  filter: invert(100%);
  cursor: pointer;
}

.fee {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 15%;
}

select {
  width: 50%;
  height: 80%;
  font-size: 1rem;
  font-family: 'Fira Code Medium';
  text-align-last: center;
}

.refresh-rate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 15%;
}