@font-face {
  font-family: 'Fira Code Medium';
  src: url(./assets/FiraCode-Medium.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'Fira Code Medium';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Fira Code Medium';
}